<div class="new-chat{{#if className}} {{ className }}{{/if}}">
  <input class="new-chat__element"
    type="{{ type }}" title="{{ title }}" name="{{ name }}" placeholder="{{title}}" value="{{value}}">
</div>
