<form class="form">  
  <div class="relative-block element-center">
      <div class="avatar__size avatar__img"></div>
      <div class="profile-page__avatar-hover avatar__size element-center">
        <input name="avatar size" type="file">  
        <span>Поменять аватар </span>
      </div> 
      <div class="password-page__name">Иван</div>
    </div>
  {{{loginInput}}}
  {{{emailInput}}}     
  {{{nameInput}}}
  {{{lastNameInput}}}
  {{{userNameInput}}}
  {{{phoneInput}}}
  {{{submitBtn}}} 
</form>
