<div class="user__block"> 
  <div class="user__flex">
    {{#if avatar}}
    <img class="avatar__img user__img" src="{{avatar}}">
    {{else}}
       <div class="user__img"></div>
    {{/if}}
    
    <div> 
      <div class="user__name"> {{ name }}</div>
      <div>{{ info }}</div>
    </div>
  </div>
  <div style="display:flex">
    {{{addUserContent}}}
    {{{deleteUserButton}}}
  </div>
</div>
