<div  class="message-container__block" >  
  <div class="message-container__container" style="{{#if active}}display: block;{{else}}display: none;{{/if}}">
    <div class="message-container__sender">{{{sender}}} </div>
    <div class='message-container__list'>{{{userMessagesList}}}</div>
  
    <div class="message-container-page" style="{{#if active}}display: flex;{{else}}display: none;{{/if}}">
      {{{newMessage}}} 
    </div>
  </div>
 <div style="{{#if active}}display: none;{{else}}display: flex;{{/if}}" class="element-center"> Выберите чат чтобы отправить сообщение</div>
</div>  
