<main class="page">
  <div class="chat-page"> 
    <div class="chat-page__main"> 
      {{{userMain}}} 
      {{{newChat}}} 
    </div>
    <div class="chat-page__list">{{{chatList}}}</div> 
    <div class="chat-page__new-chat"> {{{chatTitleInput}}} {{{createChatBtn}}} </div>
  </div>
  {{{createMessagesContainer}}}
  <div id="noChat" class="element-center" style="display: flex;"> Выберите чат чтобы отправить сообщение</div>
</main>
