<div class="chat-page__list-item">
  <div class="user__img"></div>
  <div style="width: 100%">
    <div class="chat-page__user-sent">
      <p class="user__name">{{name}}</p>
      <p class="chat-page__user-time">{{time}}</p>
    </div>
    {{#if isOwn}}
      <div class="chat-page__user-msg">
        <div class="chat-page__message">
          <span>Вы:</span>
          {{message}}
        </div>
      </div>
    {{/if}}
    {{#unless isOwn}}
      <div class="chat-page__user-msg">
        <div class="chat-page__message">{{message}}</div>
        <div class="chat-page__count">{{count}}</div>
      </div>
    {{/unless}}
  </div>
</div>
